/* Establece estilos básicos y la caja de borde para todos los elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #181818;
  color: white; /* Asegura que el texto sea legible en el fondo oscuro */
}

/* Estilos básicos del cuerpo para asegurar flexibilidad y centrado */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; /* Asegura que el body ocupe al menos la pantalla completa */
  height: auto;
  width: 100%; /* Asegura que el body se extienda a lo ancho de la ventana */
  padding: 0px; /* Espacio generoso para respirar */
}

/* Estilos del encabezado, incluyendo ajuste responsivo del logo */
header {
  width: 100%;
  height: 10vh;
  padding: 20px 40px; /* Espacio generoso para respirar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    45deg,
    #2e2e2e,
    60%,
    #0a0a0a
  ); /* Mejora en el gradiente de fondo */
  position: fixed;
  top: 0; /* Alinea el header en la parte superior de la página */
  left: 0; /* Alinea el header al lado izquierdo de la página */

  z-index: 1000; /* Asegura que el header siempre esté en la parte superior de otros elementos */
}

header img {
  width: auto;
  max-width: 180px; /* Permite que el logo crezca un poco en pantallas más grandes */
  height: auto;
}

footer {
  background-color: #2e2e2e;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto; /* Empuja el footer hacia abajo */
}

footer i {
  display: inline-block;
  text-align: center;
  text-align: center;
  background: none;
  color: rgb(133, 133, 133);
}
footer i a {
  background: none;
  margin-top: 2px;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

/* Estilos para enlaces, incluidos los visitados y normales */
a,
a:visited {
  color: white; /* Mejora de la legibilidad y la consistencia de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos generales de formulario para mejorar la accesibilidad y la estética */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 600px; /* Aumenta el máximo para pantallas más grandes */
  margin: 20px 0; /* Añade un margen superior e inferior */
}

/* Media Queries para ajustes en diferentes tamaños de pantalla */
@media (min-width: 768px) {
  header img {
    max-width: 200px; /* Incremento moderado del tamaño del logo */
  }
  form {
    max-width: 700px; /* Permite que los formularios sean más grandes */
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0px; /* Añade padding lateral para no estirar demasiado el contenido */
  }
  header {
    padding: 30px 50px; /* Mayor padding en el header para pantallas grandes */
  }
  form {
    max-width: 800px; /* Extiende la anchura máxima del formulario */
  }
}

@media (min-width: 1440px) {
  header img {
    max-width: 220px; /* Permite que el logo sea aún más grande */
  }
  form {
    max-width: 900px; /* Extiende aún más la anchura máxima del formulario */
  }
}




/* Pantallas más pequeñas que 428px */
@media (max-width: 427px) {
  header, footer {
    height: 60px; /* Menor altura para cabecera y pie de página */
  }

  footer i a {
    font-size: 16px; /* Tamaño de fuente menor para links en el pie */
  }
}

/* Pantallas medianas, como tablets */
@media (min-width: 428px) and (max-width: 768px) {
  header, footer {
    height: 70px; /* Altura intermedia para cabecera y pie */
  }

  footer i a {
    font-size: 17px; /* Tamaño de fuente intermedio para links */
  }
}

/* Pantallas grandes */
@media (min-width: 769px) {
  header, footer {
    height: 100px; /* Altura aumentada para cabecera y pie de página */
  }

  footer i a {
    font-size: 20px; /* Tamaño de fuente mayor para mejor legibilidad */
  }
}