body{
  height: 90vh;
}

header{
  display: flex;
  justify-content: space-between;
}

header img{
  width: 100%; /* Ajustable para tamaños de pantalla */
  max-width: 120px; /* Máximo ancho para mantener la proporción */
  height: auto; /* Altura auto para mantener la proporción */
  background: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

header i{
  margin-left: 10px;
  background: none;
}

header a{
  background: none;
}

a:visited{
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%; /* Adaptativo al tamaño del dispositivo */
  max-width: 500px; /* Limita el ancho máximo para grandes pantallas */
}

.image_logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que la imagen esté centrada */
}

.image_logo img {
  width: 100%; /* Ajustable para tamaños de pantalla */
  max-width: 200px; /* Máximo ancho para mantener la proporción */
  height: auto; /* Altura auto para mantener la proporción */
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
}

.inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 45px;
  width: 100%; /* Ajustable para tamaños de pantalla */
}

.input-container {
  display: flex;
  justify-content: center; /* Centra el contenido de input-container */
  position: relative;
  width: 100%; /* Ajustable para tamaños de pantalla */
  max-width: 300px; /* Máximo ancho para mantener el tamaño del input */
}

.input-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #1B91B6;
  background: none;
}

.inputs input {
  border: 1px solid #1B91B6;
  border-radius: 4px;
  font-weight: 400;
  height: 45px;
  width: 100%;
  padding-left: 35px; /* Espacio para el ícono */
  background-color: #2c2c2c;
}

.inputs input::placeholder {
  color: #1B91B6;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ajustable para tamaños de pantalla */
}

.button button {
  border: 1px solid #1a87a9;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: whitesmoke;
  background-color: #1A87A9;
  height: 45px;
  width: 100%; /* Ajustable para tamaños de pantalla */
  max-width: 300px; /* Máximo ancho para mantener la proporción */
}

/* Media Queries para adaptar el diseño a medida que la resolución aumenta */

/* Pantallas pequeñas a medianas */
@media (min-width: 429px) {
  header {
    flex-direction: row; /* Mantiene el header en fila para pantallas más anchas */
  }

  .input-container, .button button {
    max-width: 300px; /* Limita el ancho de los inputs y botones para pantallas medianas */
  }
}

/* Pantallas medianas a grandes */
@media (min-width: 768px) {
  form {
    width: 70%;
  }

  header {
    padding: 1.5rem;
  }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
  form {
    width: 50%;
    padding: 2rem; /* Agrega más padding para un aspecto más espacioso */
  }

  header img {
    max-width: 150px; /* Incrementa ligeramente el tamaño del logo */
  }
}